html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background-color: #e2e9f0;
}

.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}